<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to ansible</title>
</head>
<body>
  <h1>nginx, configured by Ansible</h1>
  <p>If you can see thos, Ansible successfully installed nginx.</p>
  <p>{{ ansible_managed}}</p>
  <p>aieeeee</p>
</body>
</html>